.home-section {
  height: 100vh;
  background-image: url('/images/iteration-1-images/home-banner.png');
  background-size: cover;
  background-position: center;
}

.home-content {
  text-align: center;
  padding: 20px;
  color: #FAF7F2;
}


.home-subtitle {
  font-size: 4rem;
  margin-bottom: 1rem;
}


.home-content h4 {
  margin-top: 3rem;
  font-family: 'Satisfy', cursive;
  color: #FDC913;
}


.header-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}

.header-bottom img:hover {
  transform: scale(1.5);
  cursor: pointer;
}

.image-item-text {
  display: flex;
  flex-direction: row;
}

.image-item-text img {
  margin-right: 1rem;
}

.image-item-text p {
  margin: 1.5rem 0;
}

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAF7F2;
}

.packet-info {
  margin-top: 4rem;
  text-align: center;
}

.packet-info h4 {
  font-family: 'Satisfy', cursive;
  color: #CE2829;
}


.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 1rem;
}

.button-container button {
  background-color: white;
  border-radius: 2rem;
  border: none;
  padding: 0.5rem 1rem;
}

.image-button.other {
  background-color: #292929;
  color: white;
}


.pizza-list {
  display: flex;
  justify-content: center;
  gap: 0;
  cursor: pointer;
}

.pizza-group {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.pizza-group h3 {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.pizza-item {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 0.5rem;
  margin-bottom: 4rem;
  margin-right: 2rem;
  border-radius: 2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-left: 1rem;
}

.pizza-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.pizza-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1rem;
}

.pizza-reviews-p {
  margin-left: auto;
}

.pizza-price {
  margin-left: 2rem;
  margin-right: 2rem;
}

.cta-cards {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 4rem;
}


.cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-cards img {
  border-radius: 1rem;
}

.card1 {
  position: relative;
}

.card1 h1 {
  position: absolute;
  color: white;
  top: 10%;
  left: 10%;
  font-family: 'Quattrocento';
  font-weight: bold;
}

.card1 p {
  position: absolute;
  color: white;
  top: 40%;
  left: 10%;
  font-size: 1.5rem;
}

.card1 button {
  position: absolute;
  color: #CE2829;
  top: 50%;
  left: 10%;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  background-color: white;
}

.card1 h1 {
  font-size: 4rem;
}

.card1 button:hover {
  animation: shake-rotation 0.7s ease-in-out;
}


.card2 {
  position: relative;
}

.card2 h1 {
  position: absolute;
  color: white;
  top: 20%;
  left: 5%;
  font-family: 'Quattrocento';
  font-weight: bold;
}

.card2 button {
  position: absolute;
  color: #CE2829;
  top: 65%;
  left: 5%;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  background-color: white;
}

.card2 h1 {
  font-size: 2rem;
}

.card2 button:hover {
  animation: shake-rotation 0.7s ease-in-out;
}



.card3 {
  position: relative;
}

.card3 h1 {
  position: absolute;
  color: white;
  top: 15%;
  left: 5%;
}


.card3 button {
  position: absolute;
  color: #CE2829;
  top: 60%;
  left: 5%;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2.5rem;
  background-color: white;
}

.card3 h1 {
  font-size: 2.5rem;
}

.card3 button:hover {
  animation: shake-rotation 0.7s ease-in-out;
}

@keyframes shake-rotation {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(10deg); }
  50% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}



