.succes-section {
  height: 100vh; 
  width: 100%; 
  display: flex;
  justify-content: center;
  text-align: center; 
  background-color: #CE2829; 
}

.succes-content h4 {
  margin-top: 3rem;
  font-family: 'Satisfy', cursive;
  color:#FDC913;
}

.succes-content {
  margin-top: 2rem;
}

.succes-content h1 {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 5rem;
  color:#FAF7F2;
}

.succes-content hr {
  border: none; 
  height: 2px; 
  background-color: #FAF7F2; 
}

.order-brief {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}