.succes-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #CE2829;
}

.succes-content h4 {
  margin-top: 3rem;
  font-family: 'Satisfy', cursive;
  color: #FDC913;
}

.succes-content {
  margin-top: 2rem;
}

.succes-content h1 {
  font-family: 'Roboto Condensed';
  font-weight: 300;
  font-size: 5rem;
  color: #FAF7F2;
}

.succes-content hr {
  border: none;
  height: 2px;
  background-color: #FAF7F2;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.general-summary {
  background-color: #292929;
  border: 1px solid #444;
  border-radius: 1rem;
  padding: 2rem;
  color: #FAF7F2;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: 2rem auto;
}

.general-summary h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #FDC913;
  text-align: center;
}

.order-brief {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 1rem;
  margin-top: 1rem;
}

.order-brief div {
  color: #EAEAEA;
  font-size: 1.2rem;
  line-height: 1.6;
}

.order-brief strong {
  font-weight: bold;
  color: #FDC913; 
}

.total-brief {
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  border-radius: 0.5rem;
  padding: 1.5rem;
  gap: 1rem;
  background-color: #5F5F5F;
  margin-top: 2rem;
  margin-left: 8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.total-brief h6 {
  font-size: 1.5rem;
  color: #FDC913;
  margin-bottom: 1rem;
}

.total-brief>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total-brief span {
  color: #FAF7F2;
  font-size: 1.2rem;
  font-weight: 500;
}

button {
  background: #FDC913;
  color: #2d2d2d;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background: #EAC117;
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(255, 215, 0, 0.5);
}
